software = 
{
	version = "${VERSION}";
    hardware-compatibility: [ "1.0" ];

	files: (
		{
			filename = "system_b.efi";
			path = "/tmp/esp/EFI/Linux/system_b.efi";
            sha256 = "${HASH_SYSTEM}";
		},
        {
            filename = "filesystem.squashfs";
            path = "/tmp/esp/live/slot_b/filesystem.squashfs";
            sha256 = "${HASH_FS}";
        }
	);

	scripts: (
		{
			filename = "update.sh";
			type = "shellscript";
            sha256 = "${HASH_UPDATE}";
		}
	);
}
